extends ./layout

block content
  .page-header
    h3 Player List
    table.table.table-hover.table-sm(id="rankings-table")
      thead.table-inverse
        tr
          th Rank ⇅
          th Image ⇅
          th Handle ⇅
          th Rating ⇅
          th Games ⇅
          th Wins ⇅
        tbody
          each player, idx in players
            tr
              td.rank-num= idx+1+'.'
              td
                if player.account
                  img.rankings.img-circle(src=player.account.profile.picture || player.account.gravatar(), alt=player.name)
                else
                  img.rankings.img-circle(src=player.gravatar(), alt=player.name)
              td
                a(href='/profile/' + player.name)
                  =player.name
              td.format-int= player.eloRating
              td= player.gamesPlayed
              td= player.wins
